body {
    background-color: bisque;
    font-family: "Merriweather", serif;
}

#toptext {
    text-align: center;
    font-size: 40px;
}

#confirm {
    background-color: white;
    border: 1px black solid;
    margin: 0 20%;
    padding: 10px 0 0 3%;
}

.tx-md {
    font-size: 32px;
}

.cookname {
    margin-left: 2%;
    white-space: nowrap;
    overflow: hidden; /* 内容が溢れた場合に隠す */
    text-overflow: ellipsis; /* 溢れた部分を省略記号で表示 */
}

.center {
    text-align: center;
}

.button-div {
    margin: 50px 20% 0 20%;
}

.flex {
    display: flex;
}

.w-50 {
    width: 50%;
}

.back {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

.submit {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

.cookimg {
    width: 90%;
}

.flex-row {
    align-items: center; /* 垂直方向に中央揃え */
    margin-bottom: 10px; /* 下に余白を追加 */
}

/* ロゴが画面幅より大きくならないようにする */
@media (max-width: 400px) {
    #topLogo {
        width: 100%;
    }
}

/* スマホ用に大きさを変える */
@media (max-width: 450px) {
    #confirm {
        margin: 0 10%;
    }

    #toptext {
        font-size: 32px;
    }

    .tx-md {
        font-size: 24px;
    }
}
