*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    border: 1.5px solid;
    margin-left: 430px;
    font-size: 36px;
    margin-top: 50px;
}
.btn--orange,
a.btn--orange {
    color: black;
    background-color: #fff;
}

.btn--orange:hover,
a.btn--orange:hover {
    color: black;
    background: #fff;
}
p {
    font-size: 20px;
    margin-top: 10px;
}
body {
    background-color: #fff9f3;
}
h1 {
    text-align: center;
}
.wide-select {
    width: 170px;
}
.square-textarea {
    border: 1.5px solid #000; /* 枠線を黒色に設定 */
    border-radius: 0; /* 四角にするために角を丸めない */
    padding: 10px; /* 枠内の余白を追加 */
    width: calc(70% - 40px); /* 幅を100%に設定し、マージンを考慮 */
    box-sizing: border-box; /* パディングを含めて幅を計算 */
    margin-left: 168px; /* テキストボックスを右に移動 */
}
.large-steps {
    font-size: 1.5em; /* フォントサイズを大きくする */
    margin-left: 150px;
}
.large-steps input[type="text"] {
    font-size: 1.5em; /* 入力フィールドのフォントサイズを大きくする */
    width: 77%; /* 入力フィールドの幅を100%にする */
}
.menu-input {
    border: 1.5px solid #000; /* 枠線を黒色に設定 */
    padding: 12px; /* 枠内の余白を追加 */
    width: 65%; /* 幅を広げる */
    display: block; /* ブロック要素にする */
    margin-left: auto; /* 左右中央寄せ */
    margin-right: auto; /* 左右中央寄せ */
}

.wide-select {
    border: 1.5px solid #000; /* 枠線を黒色に設定 */
    padding: 12px; /* 枠内の余白を追加 */
    width: 65%; /* 幅を広げる */
    margin-bottom: 10px; /* 下に余白を追加 */
    display: block; /* ブロック要素にする */
    margin-left: auto; /* 左右中央寄せ */
    margin-right: auto; /* 左右中央寄せ */
}
p {
    font-size: 18px;
    margin-left: 17.5%;
}
.centered-file-input {
    display: block; /* ブロック要素にする */
    margin-left: auto; /* 左右中央寄せ */
    margin-right: auto; /* 左右中央寄せ */
    margin-bottom: 20px; /* 下に余白を追加 */
    padding: 10px; /* 枠内の余白を追加 */
    font-size: 1.2em; /* フォントサイズを大きくする */
    width: 67%; /* 幅を広げる */
}
#img-preview {
    display: block; /* ブロック要素にする */
    margin-left: 175px;
    max-width: 200px; /* 最大幅を設定 */
    max-height: 200px; /* 最大高さを設定 */
}
.materials-container {
    display: flex; /* フレックスボックスにする */
    margin-left: 172px;
    gap: 10px; /* テキストボックス間の隙間 */
}
.material-input1 {
    border: 1.5px solid #000; /* 枠線を黒色に設定 */
    padding: 12px; /* 枠内の余白を追加 */
    width: 150px; /* 幅を設定 */
    gap: 10px;
}

.material-input2 {
    border: 1.5px solid #000; /* 枠線を黒色に設定 */
    padding: 5px; /* 枠内の余白を追加 */
    width: 100px; /* 幅を設定 */
    gap: 10px;
}
img {
    margin-left: 290px;
}
h1 {
    font-size: 40px;
    font-weight: normal;
}
.button-container {
    display: flex;
    margin-left: 172px;
    gap: 5px; /* ボタン間の隙間を最小限に */
    margin-top: 10px;
    width: 80%;
}

.button_black {
    color: black;
    background-color: #fff;
    border: 1px solid;
    gap: 5px;
}
.step-input {
    border: 2px solid #000; /* 太線にする */
    padding: 5px; /* 枠内の余白を追加 */
    width: 100%; /* 幅を100%に設定 */
    box-sizing: border-box; /* パディングを含めて幅を計算 */
    margin-top: 5px;
}
/* スマホ向けのスタイル */
@media (max-width: 768px) {
    .label-input-group,
    .large-steps,
    .button-container {
        width: calc(100% - 20px); /* 幅を100%に設定し、マージンを考慮 */
        margin-left: 10px; /* 左マージンを追加 */
        margin-right: 10px; /* 右マージンを追加 */
    }

    .step-input,
    .square-textarea {
        width: calc(100% - 20px); /* 幅を100%に設定し、マージンを考慮 */
        margin-left: 10px; /* 左マージンを追加 */
        margin-right: 10px; /* 右マージンを追加 */
    }
}
