* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    margin: 0;
}

.center { text-align: center; }

input[type="text"] {
    width: 50%;
    font-size: 26px;
}

input[type="submit"] {
    width: 10%;
    font-size: 26px;
}

.inner {
    width: 97%;
    margin: 0 auto;
}
.flex-margin {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
}

.flex-margin-child {
    width: calc(100% / 4);
    /* padding: 15px 15px 0; */
}

form {
    margin: 50px 0 30px 0;
}

.cookdiv {
    background-color: white;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.cookdiv img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.cookdiv .name {
    margin: 0 0 0 3%;
    font-size: 20px;
}

.cookdiv .detail {
    margin: 8px 0 0 5%;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden; /* 内容が溢れた場合に隠す */
    text-overflow: ellipsis; /* 溢れた部分を省略記号で表示 */
    width: 95%;
}

@media (max-width: 430px) {
    .flex-margin {
        margin: 0;
    }

    .flex-margin-child {
        width: calc(100% / 2);
    }

    .cookdiv .name {
        font-size: 18px;
    }

    .cookdiv .detail {
        font-size: 12px;
    }

    input[type="text"] {
        width: 60%;
        font-size: 22px;
    }
    
    input[type="submit"] {
        width: 15%;
        font-size: 22px;
    }

}

@media (max-width: 960px) and (min-width: 431px) {
    .flex-margin-child {
        width: calc(100% / 3);
    }

    .cookdiv .detail {
        font-size: 14px;
    }
}